{% extends "base.html" %}
{% block title %}Cars{% endblock %}
{% block content %}

<style>
  .card-img-top {
      width: 100%;
      height: 200px;
      object-fit: cover;
  }
</style>

<h1 class="my-4">All Cars</h1>

<div class="row">
  {% if cars %}
    {% for car in cars %}
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        {% if car.image_filename %}
          <img src="{{ url_for('static', filename='images/' ~ car.image_filename) }}" class="card-img-top" alt="{{ car.brand }} {{ car.model }}">
        {% else %}
          <img src="{{ url_for('static', filename='images/default.png') }}" class="card-img-top" alt="Default Image">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ car.brand }} {{ car.model }}</h5>
          <p class="card-text">
            Year: {{ car.year }}<br>
            Type: {{ car.type.name }}<br>
            Fuel: {{ car.fuel.name }}<br>
            Gearbox: {{ car.gearbox.name }}<br>
            Doors: {{ car.doors }}<br>
            Seats: {{ car.seats }}<br>
            Mileage: {{ car.mileage }}<br>
            Color: {{ car.color }}<br>
            Rental Price: ${{ car.rental_price }} per day<br>
            Status: <span class="{% if car.status %}text-success{% else %}text-danger{% endif %}">
              {% if car.status %}Available{% else %}Rented{% endif %}
          </span>
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  {% else %}
    <div class="col-12">
      <div class="alert alert-info" role="alert">
        No cars available at the moment.
      </div>
    </div>
  {% endif %}
</div>

{% endblock %}
