{% extends 'base.html' %}

{% block title %}Confirm Email{% endblock %}

{% block content %}
    <h1>Email Confirmation</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <p>If you have confirmed your email, you can <a href="{{ url_for('auth.login') }}">login here</a>.</p>
{% endblock %}
